body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(231, 231, 231);
}
header, footer {
    background-color: #013542;
    color: White;
    display: flex;
    justify-content: center;
}

form {
    padding: 50px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: white;
}
.field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    grid-column: 1 / 3;
}

label {
    font-size: 0.6em;
    order: -1;
}
fieldset {
    border: none;
    padding: none;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.error {
    height: 15px;
    color: red;
    font-size: 0.8em;
}


input:required ~ label::after, textarea:required ~ label::after {
    content: " *";
    font-size: 1.5em;
}

#wrapper {
    display: grid;
    grid-template: repeat(6, auto) / 1fr 1fr;
    width: 100%;
}

.mail-list {
    display: flex;
    align-items: center;
}

input, textarea, select {
    font-size: 1.2em;
}

input[type="submit"] {
    border: none;
    background-color: #013542;
    color: white;
    padding: 5px 15px;
    width: fit-content;
    margin: 0 0 0 auto;

}

#choose {
    color: grey;
}

#disclaimer {
    font-size: 0.8em;
    text-align: right;
}

::placeholder {
    opacity: 0;
}

input:invalid:not(:placeholder-shown), 
textarea:invalid:not(:placeholder-shown) {
    border-color: red;
    border-style: solid;
}

input:valid:not(:placeholder-shown):not(input[type="submit"]), 
textarea:valid:not(:placeholder-shown) {
    border-color: green;
    border-style: solid;
}

textarea {
    resize: none;
}

input[type="submit"]:active {
    background-color: #044858;
    transition: all 0.3s;
}

@media (max-width: 700px) {
    form {
        max-width: none;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding:  40px 0;
        grid-template: repeat(5, auto) / 1fr 1fr;
    }
    label {
        display: none;
    }
    ::placeholder {
        opacity: 100;
    }
    input[type="checkbox"] ~ label {
        display: initial;
    }

    textarea::placeholder {
        font-family: sans-serif;
    }
    input, textarea, select, legend {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
    label, #disclaimer {
        font-size: 1em;
    }
    .hidden-field {
        display: none;
    }
}