body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(231, 231, 231);
}

header,
footer {
    background-color: #013542;
    color: White;
    display: flex;
    justify-content: center;
}

footer {
    justify-content: space-between;
    padding: 20px;
}


form {
    padding: 50px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: white;
}

.field {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    grid-column: 1 / 3;
}

label {
    font-size: 0.6em;
    order: -1;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.error {
    height: 15px;
    color: red;
    font-size: 0.8em;
}


input:required~label::after,
textarea:required~label::after {
    content: " *";
    font-size: 1.5em;
}

#wrapper {
    display: grid;
    grid-template: repeat(6, auto) / 1fr 1fr;
    width: 100%;
}

.mail-list {
    display: flex;
    align-items: center;
}

input,
textarea,
select {
    font-size: 1.2em;
}

input[type="submit"] {
    border: none;
    background-color: #013542;
    color: white;
    padding: 5px 15px;
    width: fit-content;
    margin: 0 0 0 auto;

}

#choose {
    color: grey;
}

#disclaimer {
    font-size: 0.8em;
    text-align: right;
}

::placeholder {
    opacity: 0;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
    border-color: red;
    border-style: solid;
}

input:valid:not(:placeholder-shown):not([type="submit"]),
textarea:valid:not(:placeholder-shown) {
    border-color: green;
    border-style: solid;
}

textarea {
    resize: none;
}

input[type="submit"]:active {
    background-color: #044858;
    transition: all 0.3s;
}

#help {
    position: relative;
}

iframe {
    display: none;
    width: 80vw;
    max-width: 500px;
}

i:hover+iframe {
    display: block;
    position: absolute;
    bottom: 60px;
}

img {
    width: 140px;
    margin: 20px 0;
}

.icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

@media (max-width: 700px) {
    form {
        max-width: none;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        padding: 40px 15px;
    }

    label {
        display: none;
    }

    ::placeholder {
        opacity: 1;
    }

    input[type="checkbox"]~label {
        display: initial;
    }

    textarea::placeholder {
        font-family: sans-serif;
    }

    input,
    textarea,
    select,
    legend {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

    label,
    #disclaimer {
        font-size: 1em;
    }

    .hidden-field {
        display: none;
    }

    .field {
        padding-left: 0;
        padding-right: 0;
    }

    .mail-list {
        grid-column: 1 / 3;
        justify-content: center;
    }

    #wrapper {
        align-items: center;
        justify-content: center;
    }

    input[type="submit"] {
        grid-column: 1 / 3;
        margin: 20px auto;
    }

    #help {
        margin-left: 20px;
    }

    #disclaimer {
        margin: 0;
    }

    .field {
        padding-bottom: 0;
        padding-top: 20px;
    }

    #disclaimer,
    #help {
        margin-bottom: 20px;
    }

    .desktop {
        display: none;
    }
}

@media (min-width: 700px) {
    .mobile {
        display: none;
    }

    header {
        align-items: center;
        justify-content: space-evenly;
    }

    div.desktop {
        width: 140px;
    }

    div.wide {
        width: 400px;
        text-align: center;
    }

    #designer {
        align-self: flex-end;
    }
}